#video-box {
  position: relative;
  margin: 0;
  /* z-index: -1; */
}

#video-box::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  box-shadow: inset 0 0 .5rem .5rem var(--background);
  /* box-shadow: inset 0 0 1.5rem 1.5rem red; */
}