.morse {
  --k-wght: 700;
  word-spacing: .5em;
}

.morse.centered {
  font-size: 2em;
  text-align: center;
  --k-wght: 700;
}

#crh-encoding {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.encoding-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
}

.encoding-pair {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.encoding {
  font-family: Gintronic;
  text-align: right;
}

.bits {
  font-family: Gintronic;
  /* background-color: #c8d5e2;
  padding: 0.1em 0.1em; */
}

.character {
  width: 1em;
  text-align: center;
  font-family: Konsole;
  font-variation-settings: "wdth" 115, "wght" 550;
}

.character.long {
  width: 5em;
  text-align: left;
  padding-left: 0.1em;
  font-family: Konsole;
  font-variation-settings: "wdth" 115, "wght" 550;
}

@media screen and (max-width: 550px) {
  #crh-encoding {
    font-size: 3.3vw;
  }
}


#circle {
  margin-bottom: 0;
}

#circle-arrow {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 0;
}

#circle-decoded {
  background-color: #dbdfe4;
  margin-top: 0;
  overflow: scroll;
  padding: 1rem;
}

#circle-decoded p {
  font-family: Konsole;
  font-size: 1rem;
  width: 10000px;
  margin: 0;
}

.instruction {
  font-family: Konsole;
  display: inline-block;
  font-size: 1rem;
  position: relative;
  bottom: 0.05em;
  font-variation-settings: "wdth" 110, "wght" 550;
  padding: 0 0.3em;
  /* text-transform: uppercase; */
  background-color: var(--blue);
}

.instruction.white {
  background-color: white;
  color: var(--brown);
}

.instruction.black {
  background-color: black;
  color: #ddd;
}

.instruction.split {
  background-color: var(--blue);
  color: #ebeff2;
}

.shape-building {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.instruction.short {
  text-transform: uppercase;
}

.instruction-sequence .instruction:not(:last-child){
  margin-right: 0.25rem;
}

#extending-sequence {
  white-space: nowrap;
  overflow: hidden;
  margin: 2rem 0;
  width: calc(var(--content-width) + 0.5 * (100vw - var(--content-width)) - 1rem);
  max-width: calc(100vw - 2.25rem);

  mask-image: linear-gradient(
      to right, 
      black 0%,
      black calc(100% - 10rem),
      transparent 100%
  );
  -webkit-mask-image: linear-gradient(
      to right, 
      black 0%, 
      black calc(100% - 10rem), 
      transparent 100%
  );
  mask-repeat: no-repeat;
}

.box.iterations {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 3%;
}

.box.iterations .img {
  margin: 0;
  width: 22%;
  height: auto;
  display: block;
}

.inset {
  padding: 2rem;
  background-color: #dbdfe4;
  margin: 2rem 0;
}