#article {
  font-size: 1.2rem;
  font-variant-numeric: lining-nums;
}

p.center {
  text-align: center;
}

.blue {
  color: var(--dark-blue);
}

.group {
  white-space: nowrap;
}

.equation {
  display: grid;
  grid-template-columns: auto max-content auto;
  font-size: 1.2rem;
  margin: 1rem auto;
  justify-content: center;
  width: fit-content;
}

.lhs {
  grid-column: 1;
  justify-self: end;
  align-self: center;
}

.rel {
  grid-column: 2;
  justify-self: center;
  padding: 0 0.3em;
}

.rhs {
  grid-column: 3;
  justify-self: start;
  width: fit-content;
  align-self: center;
}




.rpns {
  display: block;
  font-size: 0.6em;
  --gap: 0.2em;
  --t-gap: 0.1em;
  --group: 0.6em;
  --line: 0.4em;
  --prime-color: var(--brown);
  --times-color: var(--brown);
  --text-color: var(--brown);
  --dot-color: var(--brown);
  margin: 2rem 0;
}

.rpns.text-rpns {
  --gap: 0.4em;
  --t-gap: 0;
  --group: 1.2em;
  --line: 0.4em;
}

.rpns.inline {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.2em;
}

.rpns.inline.align {
  position: relative;
  bottom: 0.12em;
}



.times {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 0;
  margin-bottom: 0;
}

.prime > .expr-container:first-child > .times {
  margin-top: 0;
}

.prime > .expr-container:last-child > .times {
  margin-bottom: 0;
}

.times > .expr-container > .times {
  margin-top: var(--group);
  margin-bottom: var(--group);
}

.times > * {
  border-left: var(--line) solid var(--times-color);
  border-right: var(--line) solid var(--times-color);
  padding-left: var(--gap);
  padding-right: var(--gap);
  margin-left: calc(-0.5 * var(--line));
  margin-right: calc(-0.5 * var(--line));
}

.times > *:first-child {
  border-left: none;
  padding-left: 0;
  margin-left: 0;
}

.times > *:last-child {
  border-right: none;
  padding-right: 0;
  margin-right: 0;
}





.prime {
  display: flex;
  flex-flow: column nowrap;
  margin-left: var(--t-gap);
  margin-right: var(--t-gap);
}

.times > .expr-container:first-child > .prime {
  margin-left: var(--group);
}

.times > .expr-container:last-child > .prime {
  margin-right: var(--group);
}

.prime > .expr-container > .prime {
  margin-left: var(--group);
  margin-right: var(--group);
}

.prime > * {
  border-top: var(--line) solid var(--prime-color);
  border-bottom: var(--line) solid var(--prime-color);
  padding-top: var(--gap);
  padding-bottom: var(--gap);
  margin-top: calc(-0.5 * var(--line));
  margin-bottom: calc(-0.5 * var(--line));
}

.prime > *:first-child {
  border-top: none;
  padding-top: 0;
  margin-top: 0;
}

.prime > *:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}



.expr-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 1.6666em;
  color: var(--text-color);
  padding-left: 0.3em;
  padding-right: 0.3em;
  line-height: 0.8em;
}

.times > .expr-container:first-child > .text {
  padding-left: 0;
}

.times > .expr-container:last-child > .text {
  padding-right: 0;
}

.times > .expr-container > .text {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.blank {
  width: 1em;
}

.dot {
  width: 0.7em;
  height: 0.7em;
  background-color: var(--dot-color);
  border-radius: 0.35em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.times > .expr-container > .dot {
  margin-left: 0.1em;
  margin-right: 0.1em;
}

.times > .expr-container:first-child > .dot {
  margin-left: 0.5em;
}

.times > .expr-container:last-child > .dot {
  margin-right: 0.5em;
}

.rpns-equation {
  row-gap: 1rem;
}

.rpns-equation .rel {
  align-self: center;
}



@media screen and (max-width: 21.6875rem) {
  #thirteen {
    font-size: 4.4vw;
  }
}

#monster {
  --dot-color: #bc1436;
  --prime-color: rgb(81, 117, 145);
  --times-color: rgb(188, 146, 55);
}

@media screen and (max-width: 61rem) {
  #monster {
    font-size: 1.18vw;
  }
}

#no-one .text {
  opacity: 0;
}
