@font-face {
  font-family: 'Konsole';
  src: url('/fonts/Konsole/Variable/Konsolev1.1-VF.ttf') format('truetype');
  font-weight: 100 800;
  font-stretch: 50% 200%;
  font-style: normal;
}

@font-face {
  font-family: 'Konsole';
  src: url('/fonts/Konsole/Variable/Konsoleitalicv1.1-VF.ttf') format('truetype');
  font-weight: 100 800;
  font-stretch: 50% 200%;
  font-style: italic;
}

@font-face {
  font-family: 'Infini';
  src: url('/fonts/Infini/01_Regular/infini-regular.woff');
  font-style: normal;
}

@font-face {
  font-family: 'Infini';
  src: url('/fonts/Infini/02_Italic/infini-italic.woff');
  font-style: italic;
}


@font-face {
  font-family: 'Infini';
  src: url('/fonts/Infini/03_Bold/infini-bold.woff');
  font-weight: bold;
}

:root {
  --orange: #ED4B00;
  --brown: #332019;
  --blue: #60889a;
  --offwhite: #dbdee3;
  --inverse-text: #d0c8c5;
}

html {
  font-family: 'Infini', 'Verdana', sans-serif;
  font-style: normal;

  background-color: rgb(203, 208, 215);
  /* font-size: 16px; */
  line-height: 1.7;
  color: var(--brown);

  scroll-behavior: smooth;
}

#content * {
  scroll-margin-top: 200px;
}

p, li {
  font-size: 1.2rem;
}

body {
  padding: 0 20px;
  margin: 180px auto 100px auto;
}

#content {
  margin: 0 auto;
  width: auto;
  max-width: 720px;
}

.konsole, .oval-text {
  --k-wght: 450;
  --k-wdth: 110;
  font-family: 'Konsole';
  font-style: normal;
  font-variation-settings: 'wght' var(--k-wght), 'wdth' var(--k-wdth);
  font-size: 16px;
  line-height: 1.7;
  color: var(--brown);
}

/* html {
  font-family: 'Konsole';
  font-style: normal;
  font-variation-settings: 'wght' 450, 'wdth' 110;

  background-color: rgb(203, 208, 215);
  font-size: 16px;
  line-height: 1.7;
  color: var(--brown);
} */


.page-intro {
  margin-bottom: 2.5rem;
  padding-bottom: 0;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid var(--blue);
}

.page-title {
  font-family: 'Konsole';
  font-size: 2rem;
  font-weight: normal;
  font-variation-settings: 'wght' 380, 'wdth' 120;
  line-height: 1.3;
  margin-bottom: 0;
  margin-top: 0;
}

.page-description {
  --k-wght: 500;
  --k-wdth: 110;
  font-size: 1.0rem;
  margin-top: 0.8rem;
  margin-bottom: 0;
}

.page-description:last-child {
  margin-bottom: 1rem;
}

a {
  color: inherit;
  position: relative;
  bottom: 0px;
  transition: bottom 0.2s;
  z-index: 0;
}

.oval-container svg {
  position: fixed;
}

.oval {
  background-color: var(--oval-color);
}

.oval img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.oval > a {
  text-decoration: none;
}

.oval.link {
  position: relative;
  transition: scale 0.2s;
}

.oval.link:hover {
  scale: 1.1;
  transition: scale 0.2s;
  z-index: 1;
}

.oval-text {
  display: flex;
  width: auto;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  padding: 15% 15%;
}

a:hover {
  position: relative;
  bottom: 0.1em;
  transition: bottom 0.2s;
}

.oval > a:hover {
  bottom: unset;
}

p a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-underline-offset: 0.12em;
  text-decoration-color: var(--orange);
  text-decoration-thickness: 1.5px;
}

@media screen and (max-width: 500px), screen and (max-height: 500px) {
  html {
    font-size: 13px;
  }

  #content {
    padding: 100px 10px;
  }

  body {
    margin-top: 100px;
  }
}

.fullwidth {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
}

.img img {
  width: 100%;
  height: auto;
  display: inline-block;
}
