@font-face {
  font-family: "Konsole";
  src: url('/fonts/Konsole/Variable/Konsolev1.1-VF.ttf') format('truetype');
  font-weight: 100 800;
  font-stretch: 50% 200%;
  font-style: normal;
}

@font-face {
  font-family: "Konsole";
  src: url('/fonts/Konsole/Variable/Konsoleitalicv1.1-VF.ttf') format('truetype');
  font-weight: 100 800;
  font-stretch: 50% 200%;
  font-style: italic;
}

html {
  font-family: "Konsole";
  font-style: normal;
  font-variation-settings: "wght" 450, "wdth" 110;
  background-color: rgb(203, 208, 215);
  font-size: 16px;
  line-height: 1.5;
  color: rgb(51, 32, 25);
}

body {
  width: auto;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.oval img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.oval.link {
  transition: 0.2s;
}

.oval.link:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.oval-text {
  display: flex;
  width: auto;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15% 15%;
}

