@font-face {
  font-family: "Menu";
  src: url('/fonts/MenuVF.ttf') format('truetype');
}

:root {
  --menu-gray: rgb(71, 75, 84);
}

#header {
  --header-height: 5.375rem;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  padding: 0.625rem 1.25rem;
  box-sizing: border-box;
  height: var(--header-height);
  background-color: var(--offwhite);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header a {
  text-decoration: none;
}

#lockup {
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

#header > a {
  z-index: 1;
}

#logo {
  height: 3.75rem;
  width: auto;
  margin-right: 0.75rem;
}

#name {
  font-family: 'Konsole';
  font-style: normal;
  font-variation-settings: 'wght' 450, 'wdth' 110;
  font-size: 1.4rem;
  line-height: 1.2;
  margin: 0;
  position: relative;
  top: 0.2rem;
}

nav {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

nav ul {
  display: flex;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  align-items: center;
}

nav ul a {
  width: 100%;
  height: 100%;
}

nav li {
  list-style: none;
  height: 100%;
  margin: 0 0.1875rem;
  position: relative;
}

#menu li:first-child {
  margin-left: 0;
}

nav .oval, nav .oval .oval-link-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .oval-text {
  font-family: 'Konsole';
  font-size: 1.1rem;
  padding: 0 1.875rem;
}

#social-links {
  margin-left: 1.125rem;
}

#social-links li {
  width: 2.5rem;
  height: 3.125rem;
}

nav svg {
  height: 1.375rem;
  width: auto;
}

#li-icon svg {
  height: 1.3125rem;
}

#gh-icon svg {
  height: 1.4375rem;
}

nav path {
  fill: var(--brown);
}

nav .oval.link {
  bottom: 0;
}

nav .oval.link:hover {
  scale: unset;
  bottom: 0.1em;
}

#close-menu {
  display: none;
}


#close-menu polygon {
  fill: var(--offwhite);
}

#close-menu svg {
  height: 1.625rem;
}

#menu-background {
  display: none;
}


nav:not(.thin) .oval.link { transition: bottom 0.06s ease-in }
nav:not(.thin) .oval.link:hover { transition: bottom 0.06s ease-out }


@media screen and (max-width: 48.75rem) {
  #header {
    padding-right: calc(3.75rem + 2.5rem)
  }

  nav {
    position: absolute;
    top: 0;
    right: 1.25rem;
    z-index: 0;
  }

  #close-menu {
    display: block;
    position: absolute;
    --close-menu-height: 3.75rem;
    width: 3.75rem;
    height: var(--close-menu-height);
    top: calc(var(--header-height) / 2 - var(--close-menu-height) / 2);
    right: 0;
    cursor: pointer;
    z-index: 0;
  }

  #menu {
    z-index: 1;
  }

  #menu-bg-scaler {
    display: none;
    z-index: -1;
  }

  .menu-scale {
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: top right;
  }

  #menu-background {
    /* display: none; */
    position: absolute;
    top: -30%;
    left: -30%;
    width: 160%;
    height: 160%;
  }

  #menu-bg-scaler.show, #menu-bg-scaler.show #menu-background {
    display: block;
  }

  .menu-scale {
    width: 22.5rem;
    height: 18.5625rem;
    max-height: 18.5625rem;
  }

  nav.open:not(.ish) .menu-scale {
    height: calc(100vh - (var(--header-height) / 2 + 4.1875rem) - 1.25rem);
  }

  #menu > ul {
    width: 100%;
    height: 100%;
    display: flex;
    --oval-color: var(--brown);
    flex-direction: column;
    justify-content: space-between;
  }

  #menu > ul > li {
    width: 100%;
    height: 4.375rem;
  }

  #menu .oval.link {
    transition: scale 0.08s ease-in;
  }

  #menu .oval.link:hover {
    transition: scale 0.08s ease-out;
  }

  #menu .oval.link:hover {
    bottom: 0;
    scale: 1.04;
  }

  #social-links .oval.link:hover {
    scale: 1.1;
  }


  nav .oval-text {
    font-size: 1.25rem;
    color: var(--inverse-text);
    --k-wdth: 150;
    --k-wght: 360;
    text-transform: uppercase;
  }

  #menu > ul > li {
    margin: 0;
  }

  #menu > ul >li:last-child {
    height: 5.125rem;
    margin-top: -0.3125rem;
  }

  #social-links {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  #social-links li {
    height: 100%;
    width: 5.375rem;
    margin: 0;
  }

  nav .oval img {
    height: 1.625rem;
  }

  nav path {
    fill: var(--inverse-text);
  }


  #menu-bg-oval {
    width: 100%;
    height: 100%;
    --oval-color: var(--offwhite);
  }

  

  nav {
    --speed: 0.1s;
  }

  .menu-label {
    transition: var(--speed);
  }


  nav.closed #menu {
    cursor: pointer;
    gap: 3.125rem;
  }

  nav.closed .menu-scale {
    top: calc(var(--header-height) / 2 - 0.9281rem);
    right: 0;
    scale: 0.1;
  }

  nav.closed.ish .menu-scale {
    scale: 0.3;
  }

  nav.closed.ish:not(.reverse) .menu-transition {
    transition: var(--speed) ease-in;
  }

  nav.thin.closed .menu-transition, nav.closed.ish.reverse .menu-transition {
    transition: var(--speed) ease-out;
  }

  nav.closed .menu-label {
    opacity: 0;
  }

  nav.closed #close-menu {
    display: none;
  }

  nav.closed ul * {
    pointer-events: none;
  }
 


  nav.open .menu-scale {
    top: calc(var(--header-height) / 2 + 4.1875rem);
  }

  nav.open.ish .menu-scale {
    top: calc(var(--header-height) / 2 + 2.9375rem);
    scale: 0.6;
  }

  nav.open.ish:not(.reverse) .menu-transition {
    transition: var(--speed) ease-in;
  }

  nav.open .menu-transition, nav.open.ish.reverse .menu-transition {
    transition: var(--speed) ease-out;
  }


  nav.no-transitions * {
    transition: none !important;
  }
}


@media screen and (max-width: 26rem) {
  nav.open:not(.ish) #menu > ul {
    width: calc(100vw - 2.5rem);
  }

  nav.open.width-snap:not(.ish) #menu > ul {
    transition: none;
  }
}

