@font-face {
  font-family: "Menu";
  src: url('/fonts/MenuVF.ttf') format('truetype');
}

:root {
  --offwhite: rgb(219, 222, 227);
  --menu-gray: rgb(71, 75, 84);
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  padding: 10px 20px;
  box-sizing: border-box;
  height: 86px;
  background-color: var(--offwhite);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header a {
  text-decoration: none;
}

#lockup {
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

#logo {
  /* width: 60px;
  height: auto; */
  height: 60px;
  width: auto;
  margin-right: 12px;
}

#name {
  font-family: 'Konsole';
  font-style: normal;
  font-variation-settings: 'wght' 450, 'wdth' 110;
  font-size: 1.4rem;
  margin: 0;
  position: relative;
  top: 1px;
}

nav li {
  font-family: 'Konsole';
  font-size: 1.1rem;
  display: block;
  margin: 30px 18px;
  text-align: left;
  font-variation-settings: "wght" 450, "wdth" 120;
}


#menu-icon {
  display: none;
}

#close-menu-container {
  display: none;
}

#nav-drawer {
  position: unset;
  width: auto;
  background-color: unset;
  z-index: 0;
  padding: 0;
}

nav {
  display: inline-block;
}

nav ul {
  display: inline-block;
  /* justify-content: right; */
}

nav li {
  display: inline-block;
  position: relative;
  top: 2.5px;
  margin: 0px 18px;
}

nav li:last-child {
  margin-bottom: 0px;
  margin-right: 0;
}


@media screen and (max-width: 500px), screen and (max-height: 500px) {
  #header {
    height: 60px;
    padding: 8px 12px;
  }

  #logo {
    height: 46px;
    margin-right: 8px;
  }

  #name {
    font-size: 1.3rem;
  }

  nav li {
    margin-left: 10px;
  }
}