@font-face {
  font-family: "Menu";
  src: url('/fonts/MenuVF.ttf') format('truetype');
}

:root {
  --menu-gray: rgb(71, 75, 84);
}

#header {
  --header-height: 86px;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  padding: 10px 20px;
  box-sizing: border-box;
  height: var(--header-height);
  background-color: var(--offwhite);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header a {
  text-decoration: none;
}

#lockup {
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

#logo {
  /* width: 60px;
  height: auto; */
  height: 60px;
  width: auto;
  margin-right: 12px;
}

#name {
  font-family: 'Konsole';
  font-style: normal;
  font-variation-settings: 'wght' 450, 'wdth' 110;
  font-size: 1.4rem;
  margin: 0;
  position: relative;
  top: 1px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  z-index: -1;
}

nav ul {
  display: flex;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  align-items: center;
}

nav ul a {
  width: 100%;
  height: 100%;
}

nav li {
  list-style: none;
  height: 100%;
  margin: 0px 3px;
  position: relative;
}

#menu li:first-child {
  margin-left: 0;
}

nav .oval, nav .oval .oval-link-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .oval-text {
  font-family: 'Konsole';
  font-size: 1.1rem;
  padding: 0 30px;
}

#social-links {
  margin-left: 18px;
}

#social-links li {
  width: 40px;
  height: 50px;
}

nav svg {
  height: 22px;
  width: auto;
}

#li-icon svg {
  height: 21px;
}

#gh-icon svg {
  height: 23px;
}

nav path {
  fill: var(--brown);
}

nav .oval.link {
  bottom: 0;
}

nav .oval.link:hover {
  scale: unset;
  bottom: 0.1em;
}

#close-menu {
  display: none;
}


#close-menu polygon {
  fill: var(--offwhite);
}

#close-menu svg {
  height: 26px;
}

#menu-background {
  display: none;
}


nav:not(.thin) .oval.link { transition: bottom 0.06s ease-in }
nav:not(.thin) .oval.link:hover { transition: bottom 0.06s ease-out }

/* nav.closed:not(.thin) #menu { transition: none } */


@media screen and (max-width: 780px) {
  nav {
    position: absolute;
    top: 0;
    right: 20px;
  }

  #close-menu {
    display: block;
    position: absolute;
    --close-menu-height: 60px;
    width: 60px;
    height: var(--close-menu-height);
    top: calc(var(--header-height) / 2 - var(--close-menu-height) / 2);
    right: 0;
    cursor: pointer;
    z-index: 0;
  }

  #menu {
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: top right;
    z-index: 1;
  }

  #menu-background {
    position: absolute;
    z-index: -1;
    transform-origin: top right;
  }

  #menu > ul {
    width: 360px;
    display: flex;
    --oval-color: var(--brown);
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
  }

  #menu > ul > li {
    width: 100%;
    height: 70px;
  }

  #menu .oval.link {
    transition: scale 0.08s ease-in;
  }

  #menu .oval.link:hover {
    transition: scale 0.08s ease-out;
  }

  #menu .oval.link:hover {
    bottom: 0;
    scale: 1.04;
  }

  #social-links .oval.link:hover {
    scale: 1.1;
  }


  nav .oval-text {
    font-size: 20px;
    color: var(--inverse-text);
    --k-wdth: 150;
    --k-wght: 360;
    text-transform: uppercase;
  }

  #menu > ul > li {
    margin: 0;
  }

  #menu > ul >li:last-child {
    height: 82px;
    margin-top: -5px;
  }

  #social-links {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  #social-links li {
    height: 100%;
    width: 86px;
    margin: 0;
  }

  nav .oval img {
    height: 26px;
  }

  nav path {
    fill: var(--inverse-text);
  }


  #menu-bg-oval {
    width: 100%;
    height: 100%;
    --oval-color: var(--offwhite);
  }

  

  nav {
    --speed: 0.1s;
  }

  .menu-label {
    transition: var(--speed);
  }


  nav.closed #menu {
    top: calc(var(--header-height) / 2 - 14.85px);
    right: 0;
    cursor: pointer;
    gap: 50px;
    scale: 0.1;
  }

  nav.closed.ish #menu {
    scale: 0.3;
  }

  nav.closed.ish:not(.reverse) .scaling-menu {
    transition: var(--speed) ease-in;
  }

  nav.thin.closed .scaling-menu, nav.closed.ish.reverse .scaling-menu {
    transition: var(--speed) ease-out;
  }

  nav.closed .menu-label {
    opacity: 0;
  }

  nav.closed #close-menu {
    display: none;
  }

  nav.closed ul * {
    pointer-events: none;
  }

  nav.closed.no-transitions #menu, nav.closed.ish.no-transitions #menu {
    transition: none;
  }

  nav.closed #menu-background {
    width: calc(360px * 1.6 * 0.1);
    right: calc(-0.5 * (1.6 - 1) * 360px * 0.1);
    height: calc(297px * 1.6 * 0.1);
    top: calc(var(--header-height) / 2 - 14.85px - 0.5 * (1.6 - 1) * 297px * 0.1);
  }

  nav.closed.ish #menu-background {
    width: calc(360px * 1.6 * 0.3);
    right: calc(-0.5 * (1.6 - 1) * 360px * 0.3);
    height: calc(297px * 1.6 * 0.3);
    top: calc(var(--header-height) / 2 - 14.85px - 0.5 * (1.6 - 1) * 297px * 0.3)
  }

  nav.background #menu-background {
    display: block;
  }


  nav.open #menu {
    top: 110px;
  }

  nav.open.ish #menu {
    top: 90px;
    scale: 0.6;
  }

  nav.open.ish:not(.reverse) .scaling-menu {
    transition: var(--speed) ease-in;
  }

  nav.open .scaling-menu, nav.open.ish.reverse .scaling-menu {
    transition: var(--speed) ease-out;
  }

  nav.open.no-transitions #menu, nav.open.ish.no-transitions #menu {
    transition: none;
  }

  nav.open #menu-background {
    width: calc(360px * 1.6);
    right: calc(-0.5 * (1.6 - 1) * 360px);
    height: calc(297px * 1.6);
    top: calc(110px - 0.5 * (1.6 - 1) * 297px);
  }

  nav.open.ish #menu-background {
    width: calc(360px * 1.6 * 0.6);
    right: calc(-0.5 * (1.6 - 1) * 360px * 0.6);
    height: calc(297px * 1.6 * 0.6);
    top: calc(90px - 0.5 * (1.6 - 1) * 297px * 0.6)
  }
}


@media screen and (max-width: 600px) {
  nav.open:not(.ish) #menu > ul {
    width: calc(100vw - 40px);
  }

  nav.open:not(.ish) #menu-background {
    right: calc(-20px - 10vw);
    width: calc(120vw);
  }

  nav.open.width-snap:not(.ish) #menu > ul {
    transition: none;
  }

  nav.open.width-snap:not(.ish) #menu-background {
    transition: none;
  }

  /* nav:not(.closed) #menu-background {
    width: calc(100vw + 50%)
  } */
}

/* * {
  outline: 1px solid black;
}

#menu {
  outline: 1px solid red;
}*/
