#oval-waiting-room {
  display: none;
}

body {
  padding-top: 100px;
}

#oval-columns {
  display: flex;
  justify-content: center;
  margin-bottom: 100vh;
  padding: 0px 50px;
}

.oval-column {
  flex: 1 0 300px;
  /* width: 300px; */
  /* min-height: 300px; */
  height: auto;
} 

@media screen and (max-width: 800px) {
  #oval-columns {
    display: flex;
    justify-content: center;
    margin-bottom: 100vh;
    padding: 0px 0px;
  }
}



.squish {
  margin-left: auto;
  margin-right: auto;
  /* margin: 0; */
  /* padding: 0; */
  overflow: visible;
  position: relative;
}

.squish .oval {
  margin-top: 0px;
  height: 100%;
}

.squish .oval-text {
  margin: 0px;
  padding: 0px;
}

