@media screen and (min-width: 48.75rem) {
  #menu-store .oval-text {
    text-decoration: underline;
    text-underline-offset: 0.3em;
    text-decoration-color: #463f3c;
    text-decoration-thickness: 2px;
  }
}