#toc {
  position: fixed;
  left: 20px;
  width: 340px;
  padding: 20px 20px;
  height: 80vh;
  overflow-x: auto;
  overflow-y: scroll;
}

.toc-item .oval-text {
  /* font-family: "Infini"; */
  /* --k-wdth: 100; */
  /* --k-wght: 500; */
  /* text-transform: uppercase; */
  line-height: 1.3;
  padding: 15px 30px;
  color: var(--brown);
}

.toc-item {
  background-color: var(--toc-item-color);
}

.toc-item.child-onscreen {
  /* background-color: rgb(225, 229, 234); */
  /* background-color: rgb(198, 148, 78); */
  background-color: #d37651;
}

.toc-item.onscreen {
  background-color: #7096a7;
}

.toc-item.onscreen .oval-text, .toc-item.child-onscreen .oval-text {
  color: var(--brown);
}

/* rgb(235, 238, 242) */

