---
import Article from "../layouts/Article.astro";
import '@src/styles/email.css'
// import Oval from '@src/layouts/Oval.astro';

import randomOvalPath from "../scripts/clip-paths";
import random from '@src/scripts/random.js'
const pathStr = randomOvalPath(37);
const pathId = `oval-path-${Math.floor(random(0, 100000))}`;
const pathUrl = 'url(#' + pathId + ')';
---

<Article title="Email">

<h3>Contact me</h3>
<p>You can contact me at [two-letter greeting]@[this website].com.</p>

<h3>Sign up for my email list</h3>
<p>I’ll send occasional updates when I have new work or announcements.</p>
<iframe width="100%" height="305" src="https://4f6741b5.sibforms.com/serve/MUIFACA1y7FDsnjBqHM_FkxpvD3uo7n5nSj1BytGiuipvn15DXBqJIyFtCMKjPM7nYDL6gmECGVJGbbSpLPniGn8E65bMIxwUDqb5c5BbqQF0GhPVE2J8Ui8dTiHjXh76LCYlFClFK3h9xJvudnMwDYX343rAlVBRXIZHsooubNM9ujG3SMZX_fWwcgvFIizlpVGJMy2x4w4OProXw==" frameborder="0" scrolling="auto" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe>

