---
import '../styles/global.css';
import '../styles/squish-ovals.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import TextOval from './TextOval.astro';
import SquishOval from '../components/SquishOval.astro';
const ids = [];
for (let i = 1; i < 20; i++) {
	ids.push(i);
}
---

<BaseLayout>
	<TextOval squareness={38} id="intro" color="rgb(235, 238, 242)">
		<p>
			Hi! I am a designer, programmer, and artist with a background in type design and 3D animation. I enjoy developing systems to solve complex visual problems, and am happiest when this process gets me working with interesting math, algorithms, and&nbsp;shapes.
		</p>
	</TextOval>

	<div id="squish-ovals">
		{ids.map((n) => <SquishOval squareness={32} id={n} link="/"></Oval>)}
	</div>

	<script>
		import '../scripts/clip-paths.js';
		import '../scripts/squish-ovals.js';
	</script>
</BaseLayout>

<style>
	:global(#intro) {
		max-width: 800px;
		margin: auto;
	}

	:global(#intro) p {
		font-size: 1.3rem;
	}

	#squish-ovals {
		display: flex;
		/* width: 100%; */
		/* height: auto; */
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 100vh;
		/* background-color: rgba(0, 0, 0, 0.1); */
	}

</style>