---
import '../styles/global.css';
import '../styles/squish-ovals.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import TextOval from './TextOval.astro';
import Squish from '../layouts/Squish.astro';
// import Oval from '../layouts/Oval.astro';
// import { Image } from 'astro:assets';
const ids = [];
for (let i = 1; i < 20; i++) {
	ids.push(i);
}
const placeholderText = ['Eventually,', 'these', 'shapes', 'will', 'have', 'links', 'to', 'things', 'I’ve', 'made,', 'but', 'until', 'my', 'website', 'is', 'finished', 'you', 'can', 'see', 'stuff', 'on', 'my']
const placeholderData = []
for (let i = 0; i < placeholderText.length; i++) {
	placeholderData.push([i, placeholderText[i]])
}
---

<BaseLayout pageTitle="Calder Ruhl Hansen">
	<TextOval squareness={38} id="intro" color="rgb(235, 238, 242)">
		<p>
			Hi! I am a <a href="/">designer</a>, <a href="/">programmer</a>, and <a href="/">artist</a> with a background in <a href="/">type design</a> and <a href="/">3D animation</a>. I enjoy developing systems to solve complex visual problems, and I’m happiest when this process gets me working with interesting math, algorithms, and&nbsp;shapes.
		</p>
	</TextOval>

	<div id="oval-columns"></div>

	<div id="oval-waiting-room">
		{Array.from({length: 50}, (e, i) => i).map((i) => <Squish><TextOval squareness={32} id={i} link="/"></TextOval></Squish>)}
		<!-- {placeholderData.map(([i, text]) => <Squish><TextOval squareness={32} id={i}>{text}</TextOval></Squish>)}
		<Squish><TextOval squareness={32} id={"ig"} link="https://instagram.com/calder.rh">Instagram.</TextOval></Squish> -->
	</div>

	<script>
		import '../scripts/squish-ovals.js';
	</script>
</BaseLayout>

<style>
	:global(#intro) {
		max-width: 800px;
		margin: auto;
	}

	:global(#intro) p {
		font-size: 1.3rem;
	}

	#squish-ovals {
		width: 100%;
		height: auto;
	} 

</style>