---
import '../styles/global.css';
import Oval from '../components/Oval.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Welcome to my website! Here are some ovals:</h1>
		<div id="ovals">
			{[1, 2, 3, 4, 5, 6, 7, 8, 9].map((n) => <Oval id={n}></Oval>)}
		</div>
	</body>

	<script>
		import '../scripts/clip-paths.js';
	</script>
</html>
