---
import '../styles/global.css';
import '../styles/oval-page.css';
import Oval from '../layouts/Oval.astro'
import BaseLayout from '@src/layouts/BaseLayout.astro';
---


<BaseLayout title="Ovals">
	<h1>Welcome to my website! Here are some&nbsp;ovals:</h1>
	<div id="ovals">
		{[1, 2, 3, 4, 5, 6, 7, 8, 9].map((n) => <div id="op-container"><Oval id={n}></Oval></div>)}
	</div>
</BaseLayout>
