---
import Article from "../layouts/Article.astro";
---


<Article data={{title: "Store"}}>
<p>Prints are available to buy at <a href="https://www.shopbloompvd.com">Shop Bloom PVD</a> in Providence, in person or online.</p>
</Article>

<style is:global>
  @media screen and (min-width: 48.75rem) {
    #menu-store .oval-text {
      text-decoration: underline;
      text-underline-offset: 0.3em;
      text-decoration-color: #463f3c;
      text-decoration-thickness: 2px;
    }
  }
</style>