---
---

<div id="header">
  <div id="lockup">
    <img src="../../src/assets/logo.svg" id="logo"/>
    <h1 id="name">Calder Ruhl Hansen</h1>
  </div>
  <!-- <nav></nav> -->
  <div id="menu-icon">
    <span class="menu-letter">m</span><span class="menu-letter">e</span><span class="menu-letter">n</span><span class="menu-letter">u</span>
  </div>  
</div>

<script>
  import '../scripts/menu.js';
</script>