---
import TextOval from '@src/layouts/TextOval.astro';
import Oval from '@src/layouts/Oval.astro';

import logoImage from '../assets/logo.svg';
import '../styles/menu.css';

import random from "../scripts/random";
import { adjustColor, cssString } from '@src/scripts/color-utils';

function color() {
	return cssString(adjustColor({r: 168, g: 178, b: 190}, random(0.7, 1.2), random(0.9, 1.05)))
}
---

<div id="header-container">
  <div id="header">
    <a href="/">
      <div id="lockup">
        <img src={logoImage.src} id="logo"/>
        <span id="name">Calder Ruhl&nbsp;Hansen</span>
      </div>
    </a>

    <nav class="closed">
      <div id="menu-bg-scaler" class="menu-transition menu-scale">
        <div id="menu-background">
          <Oval squareness={48} id="menu-bg-oval"></Oval>
        </div>
      </div>
      <div id="menu" class="menu-transition menu-scale">
        <ul class="menu-transition">
          <li><TextOval squareness={43} id="menu-work" link="/?tag=all"><span class="menu-label">Work</span></TextOval></li>
          <li><TextOval squareness={43} id="menu-store" link="/store"><span class="menu-label">Store</span></TextOval></li>
          <li><TextOval squareness={43} id="menu-about" link="/about"><span class="menu-label">About</span></TextOval></li>
          <li>
            <ul id="social-links">
              <li>
                <Oval link="https://instagram.com/calder.rh" newTab={true} id="ig-icon" squareness={37}>
                  <svg class="menu-label" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" style="enable-background:new 0 0 1000 1000;" xml:space="preserve">
                    <path class="st0" d="M292.92,3.5c-53.2,2.51-89.53,11-121.29,23.48c-32.87,12.81-60.73,30-88.45,57.82s-44.79,55.7-57.51,88.62
                  c-12.31,31.83-20.65,68.19-23,121.42s-2.87,70.34-2.61,206.12S0.92,653.76,3.5,707.1c2.54,53.19,11,89.51,23.48,121.28
                  c12.83,32.87,30,60.72,57.83,88.45s55.69,44.76,88.69,57.5c31.8,12.29,68.17,20.67,121.39,23s70.35,2.87,206.09,2.61
                  s152.83-0.86,206.16-3.39s89.46-11.05,121.24-23.47c32.87-12.86,60.74-30,88.45-57.84s44.77-55.74,57.48-88.68
                  c12.32-31.8,20.69-68.17,23-121.35c2.33-53.37,2.88-70.41,2.62-206.17s-0.87-152.78-3.4-206.1s-11-89.53-23.47-121.32
                  c-12.85-32.87-30-60.7-57.82-88.45s-55.74-44.8-88.67-57.48c-31.82-12.31-68.17-20.7-121.39-23S634.83-0.2,499.04,0.06
                  S346.25,0.9,292.92,3.5 M298.76,907.38c-48.75-2.12-75.22-10.22-92.86-17c-23.36-9-40-19.88-57.58-37.29s-28.38-34.11-37.5-57.42
                  c-6.85-17.64-15.1-44.08-17.38-92.83c-2.48-52.69-3-68.51-3.29-202s0.22-149.29,2.53-202c2.08-48.71,10.23-75.21,17-92.84
                  c9-23.39,19.84-40,37.29-57.57s34.1-28.39,57.43-37.51c17.62-6.88,44.06-15.06,92.79-17.38c52.73-2.5,68.53-3,202-3.29
                  s149.31,0.21,202.06,2.53c48.71,2.12,75.22,10.19,92.83,17c23.37,9,40,19.81,57.57,37.29s28.4,34.07,37.52,57.45
                  c6.89,17.57,15.07,44,17.37,92.76c2.51,52.73,3.08,68.54,3.32,202s-0.23,149.31-2.54,202c-2.13,48.75-10.21,75.23-17,92.89
                  c-9,23.35-19.85,40-37.31,57.56s-34.09,28.38-57.43,37.5c-17.6,6.87-44.07,15.07-92.76,17.39c-52.73,2.48-68.53,3-202.05,3.29
                  s-149.27-0.25-202-2.53 M706.37,232.77c0.06,33.14,26.96,59.96,60.1,59.9s59.96-26.96,59.9-60.1s-26.96-59.96-60.1-59.9
                  c-0.01,0-0.01,0-0.02,0C733.12,172.74,706.31,199.64,706.37,232.77 M243.27,500.5c0.28,141.8,115.44,256.49,257.21,256.22
                  S757.02,641.3,756.75,499.5S641.29,242.98,499.5,243.26S243,358.72,243.27,500.5 M333.33,500.32
                  c-0.18-92.05,74.29-166.82,166.34-167s166.82,74.29,167,166.34s-74.29,166.82-166.34,167c-92.04,0.19-166.81-74.26-167-166.3
                  C333.33,500.35,333.33,500.33,333.33,500.32"/>
                </svg>
                </Oval>
              </li>
              <li>
                <Oval link="/email" id="mail-icon" squareness={37}>
                  <svg class="menu-label" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" style="enable-background:new 0 0 21 21;" xml:space="preserve">
                    <path class="st0" d="M922,798.6l-333-270,48-59,327,271-42,58ZM500,660.6L16,245.6l42-58,442,366,442-366,42,58-484,415ZM68,769.6c292-10,572-10,864,0-10-183-10-356,0-539-292,10-572,10-864,0,10,183,10,356,0,539ZM78,798.6l-42-58,327-271,48,59L78,798.6ZM0,837.6V162.6h1000v675H0Z"/>
                  </svg>
                </Oval>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div id="close-menu" class="menu-label">
        <Oval squareness={32} style={`--oval-color: ${color()}`}>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
            <polygon class="st0" points="100,9.09 90.91,0 46.36,46.36 0,90.91 9.09,100 53.64,53.64 	"/>
            <polygon class="st0" points="90.91,100 100,90.91 53.64,46.36 9.09,0 0,9.09 46.36,53.64 	"/>
          </svg>
        </Oval>
      </div>
    </nav>
  </div>
</div>

<script>
  import '../scripts/menu.js';
</script>