---
import logoImage from '../assets/logo.svg';
import '../styles/menu.css';
---

<div id="header">
  <a href="/">
    <div id="lockup">
      <img src={logoImage.src} id="logo"/>
      <span id="name">Calder Ruhl Hansen</span>
    </div>
  </a>
  <div id="nav-drawer">
    <nav>
      <ul>
        <li><a href="/work/design">Work</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/">Things</a></li>
      </ul>
    </nav>
  </div> 
</div>

<script>
  import '../scripts/menu.js';
</script>