---
import logoImage from '../assets/logo.svg';
import '../styles/menu.css';
---

<div id="header">
  <div id="header-background" />
  <a href="/">
    <div id="lockup">
      <img src={logoImage.src} id="logo"/>
      <h1 id="name">Calder Ruhl Hansen</h1>
    </div>
  </a>
  <div id="nav-drawer">
    <nav>
      <ul>
        <li>Design</li>
        <li>Animation</li>
        <li>Code</li>
        <li>Art</li>
        <li>About</li>
      </ul>
    </nav>
  </div>
  <div id="close-menu-container">
    <div id="close-menu">
      x
    </div>
  </div>
  <div id="menu-icon">
    <span class="menu-letter">m</span><span class="menu-letter">e</span><span class="menu-letter">n</span><span class="menu-letter">u</span>
  </div>  
</div>

<script>
  import '../scripts/menu.js';
</script>