---
import TextOval from "@src/layouts/TextOval.astro"

const { tag, slug } = Astro.props
let classes = 'work-tag closed'
---

<div class={classes} data-tag={tag} data-slug={slug}>
  <TextOval squareness={32}>
    {tag}
  </TextOval>
</div>
