---
import TextOval from "@src/layouts/TextOval.astro"

const { tag, selected } = Astro.props
let classes = 'work-tag'
if (selected) classes += ' selected'
---

<div class={classes} data-tag={tag}>
  <TextOval squareness={32}>
    {tag}
  </TextOval>
</div>
