---
import Article from '@src/layouts/Article.astro';
import Img from '@src/components/Img.astro'
import { getCollection, render } from 'astro:content';
import { hasPage } from '@src/scripts/utilities.js'

export async function getStaticPaths() {
  const workPages = (await getCollection('items')).filter(hasPage)
  return workPages.filter(entry => !(entry.data.draft)).map(entry => ({
    params: { slug: entry.id }, props: { entry },
  }))
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<Article data={entry.data} description={entry.data.description}>
  {entry.data.page === 'auto' ? (
    <Img src={entry.data.mainImage}/>
  ) : (
    <>
      {entry.data.topImage && (
        <div class="banner">
          <Img src={entry.data.mainImage} context="top"/>
        </div>
      )}
      <Content />
    </>
  )}
</Article>