---
import BaseLayout from '@src/layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const workPages = await getCollection('work');
  return workPages.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout pageTitle={entry.data.title}>
  <div class="page-intro">
    <h1 class="page-title">{entry.data.title}</h1>
    {entry.data.description && <p class="page-description">{entry.data.description}</p>}
  </div>
  <Content />
</BaseLayout>