---
import '@src/styles/article.css'
import BaseLayout from "./BaseLayout.astro";
import TOC from '@src/components/toc/TOC.astro';
const {title, description, toc} = Astro.props;
---

<BaseLayout title={title}>
  <!-- <TOC toc={toc} /> -->
  <div id="content">
    <div class="page-intro">
      <h1 class="page-title konsole">{title}</h1>
      {description && <p class="page-description konsole">{description}</p>}
    </div>
    <slot />
  </div>
</BaseLayout>