---
import '@src/styles/article.css'
import BaseLayout from "./BaseLayout.astro";
import Title from "@src/components/Title.astro";
import { marked, Marked } from 'marked';
import markedPlaintify from 'marked-plaintify'
const {data, topTitle=true} = Astro.props;

const mdTitle = marked.parse(data.title).replaceAll(/<\/?p>/gi, '')
const plainTitle = new Marked()
  .use(markedPlaintify())
  .parse(data.title)
---

<BaseLayout title={plainTitle}>
  <div class="content" id="article">
    {topTitle && <Title data={data}/>}
      <!-- {description && <p class="page-description konsole">{description}</p>} -->
    <slot />
  </div>
</BaseLayout>

<script>
  const captions = document.querySelectorAll('.caption');
  captions.forEach(caption => {
    let prevSibling = caption.previousElementSibling;
    while (prevSibling) {
      if (prevSibling instanceof HTMLScriptElement) {
        prevSibling = prevSibling.previousElementSibling;
      } /*else if ((prevSibling instanceof HTMLAnchorElement) || (prevSibling instanceof HTMLSpanElement)) {
        prevSibling = prevSibling.children[prevSibling.children.length - 1];
        continue
      } */ else break
    }
    if (prevSibling) {
      prevSibling.classList.add('captioned');
    }
  });
</script>