---
import '../styles/global.css';
import Header from '../components/Header.astro';
const { title, name=true } = Astro.props;
const adjustedPageTitle = (() => {
	if (name === true) {
		return title + ' – Calder Ruhl Hansen';
	} else {
		return title;
	}
})()
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon/16.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon/32.png" />
		<link rel="icon" type="image/png" sizes="180x180" href="/favicon/180.png" />
		<link rel="icon" type="image/png" sizes="512x512" href="/favicon/512.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{adjustedPageTitle}</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>

<script>
	import processLinks from '../scripts/links.js';

	let resizeTimeout = null

	function resize() {
		if (resizeTimeout) {
			clearTimeout(resizeTimeout)
			resizeTimeout = null
		} else {
			document.body.classList.add('no-transitions')
		}
		resizeTimeout = setTimeout(() => {
			document.body.classList.remove('no-transitions')
			resizeTimeout = null
		}, 100)
	}

	document.addEventListener('DOMContentLoaded', () => {processLinks(); resize()})
	window.addEventListener('resize', resize)
</script>