---
import '../styles/global.css';
import Header from '../components/Header.astro';
const { pageTitle, name=true } = Astro.props;
const adjustedPageTitle = (() => {
	if (name === true) {
		return pageTitle + ' – Calder Ruhl Hansen';
	} else {
		return pageTitle;
	}
})()
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{adjustedPageTitle}</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>