---
const {diagram} = Astro.props.frontmatter
import Img from '@src/components/Img.astro'
import Title from '@src/components/Title.astro'
const diagramList = diagram instanceof Array ? diagram : [diagram]
const text = Astro.props.frontmatter.name
---

<p>This piece encodes the {text.match(/\s/) ? "text" : "word"} “{text}” in the sides of the shapes: different sequences of straight, convex, and concave sides represent different letters.</p>
<p>To read a composition in Contour Code, one must determine the right order to read the sides. See the diagram below to see how that happens for this piece.</p>
<ol>
  <li>The white lines and Roman numerals show how the shapes are put in order. The lines trace clockwise around the shapes, moving or branching into new shapes whenever they get close enough (the yellow parts).</li>
  <li>In each of the shapes, the numbered arrows show how the sides are traced, and the shapes of the labels indicate whether the sides are straight, convex, or concave.</li>
  <li>Below the diagram, the sides from all the shapes are recorded in sequence. Each group of three sides corresponds to a letter (for example, E is straight–straight–convex).</li>
</ol>

<div id="diagrams">
  <Img src="/contour-code/side key.svg" scale={15}/>
  {diagramList.map(word => <Img scale={15} src={'/contour-code/card diagrams/' + word}/>)}
</div>

<slot/>

<style is:global>
  #diagrams {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 5rem;
  }
/*   
  #diagrams *:not(:first-child) {
    transform: translateX(-1.2rem);
  } */
</style>