---
const {diagram} = Astro.props.frontmatter
import Img from '@src/components/Img.astro'
import Title from '@src/components/Title.astro'
const diagramList = diagram instanceof Array ? diagram : [diagram]
---



<div id="diagrams">
  <Img src="/contour-code/side key.svg" scale={15}/>
  {diagramList.map(word => <Img scale={15} src={'/contour-code/card diagrams/' + word}/>)}
</div>

<slot/>

<style>
  #diagrams {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 5rem;
  }
</style>