---
const {factor=2, offset=0, top=0, bottom=0} = Astro.props;
const style = `--max-width: ${factor * 100}%; --offset: ${-50 + offset}%; --top: ${top}rem; --bottom: ${bottom}rem;`
---

<div class="wide-content" style={style}>
  <slot></slot>
</div>